html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Arial, "Microsoft Yahei", sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: ' ';
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus,
a:visited,
a.active {
  text-decoration: none;
}
ul li {
  float: left;
  padding: 0 5px;
}
.f10 {
  font-size: 10px;
  font-size: 1.0rem;
}
.f12 {
  font-size: 12px;
  font-size: 1.2rem;
}
.f13 {
  font-size: 13px;
  font-size: 1.3rem;
}
.f14 {
  font-size: 14px;
  font-size: 1.4rem;
}
.f16 {
  font-size: 16px;
  font-size: 1.6rem;
}
.f18 {
  font-size: 18px;
  font-size: 1.8rem;
}
.f20 {
  font-size: 20px;
  font-size: 2.0rem;
}
.f24 {
  font-size: 24px;
  font-size: 2.4rem;
}
.f32 {
  font-size: 32px;
  font-size: 3.2rem;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2rem;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
.red {
  color: red;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*html .clearfix {
  height: 1%;
}
.clearfix {
  display: inline-block;
}
.Clearfix {
  display: block;
}
.none {
  display: none;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
.oa {
  overflow: auto;
}
.oh {
  overflow: hidden;
}
.os {
  overflow: scroll;
}
.ws {
  white-space: nowrap;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.w {
  width: 100%;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h {
  height: 100%;
}
.m0 {
  margin: 0;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m30 {
  margin: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.ml150 {
  margin-left: 150px;
}
.ml200 {
  margin-left: 200px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.p0 {
  padding: 0;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pl450 {
  padding-left: 450px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
.pointer {
  cursor: pointer;
}
p.error {
  color: #f00;
}
.hidden-v {
  visibility: hidden;
}
.transparent {
  background-color: transparent;
}
.fff {
  background-color: #fff;
}
.bct {
  border-color: transparent;
}
.b0 {
  border: 0;
}
.br0 {
  border-radius: 0;
}
.br2 {
  border-radius: 2px;
}
.br3 {
  border-radius: 3px;
}
.br4 {
  border-radius: 4px;
}
.br5 {
  border-radius: 5px;
}
/*过渡效果*/
.transition {
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
/* 动画效果 旋转放大 修改rotate(旋转度数) scale(放大值)*/
.transform {
  transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  -webkit-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
}
.orange {
  color: #E65901 ;
}
.top {
  height: 50px;
  width: 100%;
  background: #00C6D7;
  color: #fff;
  position: absolute;
  margin-left: -230px;
}
.top .top-title {
  line-height: 50px;
  font-size: 20px;
  margin-left: 20px;
}
.top .top-user {
  line-height: 50px;
}
.top .top-user span {
  margin-right: 10px;
}
.menu {
  width: 200px;
  border: solid 1px #ccc;
  background: #FFF;
  float: left;
  height: 100%;
  position: absolute;
  margin-left: -231px;
  margin-top: 49px;
}
.menu ul .active a {
  color: #00C6D7;
}
.menu ul li {
  cursor: pointer;
  padding: 15px;
  /*color: #4D4D4D;*/
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #CCC;
  position: relative;
}
.menu ul li a {
  color: #4D4D4D ;
}
.table {
  margin: 0;
}
.a-container {
  padding-top: 55px;
}
.a-box {
  margin: 0 20px;
  padding-left: 210px;
}
.a-box h3 {
  color: #f39800;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.b-login {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../assets/bg.png") repeat-x #b5bada;
  display: inline-block;
}
.b-login-box {
  color: #fff;
  width: 300px;
  margin: 10% auto  0 auto;
}
.b-login-box h1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0;
}
.b-login-box .row span {
  width: 80px;
  float: left;
  line-height: 30px;
}
.b-login-box .b-login-box-btn {
  width: 100px;
  margin: 30px auto;
}
.b-regist-error {
  color: red;
  position: absolute;
  width: 300px;
  margin-left: 10px;
}
.b-regist-box-btn {
  width: 200px;
  margin: 20px auto;
}
.b-regist-box-btn button {
  margin-left: 15px;
}
.b-input {
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding-left: 3px;
  color: #000;
}
.b-search {
  cursor: pointer;
}
.input-error {
  border: 1px solid darkred;
}
.react-bs-container-header {
  overflow: hidden;
  width: 100%;
}
.react-bs-container-body {
  overflow: auto;
  width: 100%;
}
.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.react-bs-table table {
  margin-bottom: 0;
  table-layout: fixed;
}
.upload {
  /* width: 100px;
   border: 1px solid #e6e6e6;
   background: #fff;*/
}
.upload ul {
  width: 50%;
  height: 27px;
  margin: 50px auto;
}
.upload ul li {
  width: 100%;
  line-height: 27px;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  color: #DDDDDD;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  cursor: pointer;
}
.upload ul li.active {
  border-color: #00A995;
  color: #00A995;
}
.upload .upload-add {
  /* width: 75%;
     height:50px;
     margin: 30px auto;
     background: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;*/
}
.upload .upload-add .upload-bg {
  width: 80px;
  height: 80px;
  display: block;
  background: url(images/upload-add.png) no-repeat center;
  cursor: pointer;
}
.upload .upload-complete {
  width: 75%;
  margin: 30px auto;
}
.upload .upload-complete .upload-add-list p {
  width: 90%;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upload .upload-complete .upload-add-list span {
  float: right;
  margin: -23px 0 0 0;
  color: red;
  cursor: pointer;
}
.a-operation-box span {
  cursor: pointer;
}
.a-preview-col {
  line-height: 40px;
}
.a-preview-col label {
  margin-right: 5px;
}
.a-nav-ul {
  height: 30px;
}
.a-nav-ul li {
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
.a-nav-ul .active {
  color: #f39800 ;
  border-bottom: 2px solid #f39800;
}
.a-total-num {
  height: 100px;
  background: #5cb85c;
  color: #fff;
  font-size: 20px;
  padding: 7px 0 0 20px;
  margin-bottom: 40px;
}
.a-total-num h2 {
  border-bottom: 1px solid #fff;
}
.a-total-num p {
  font-size: 30px;
  margin-top: 10px;
}
.a-total-money {
  height: 100px;
  background: #4CB1CF;
  color: #fff;
  font-size: 20px;
  padding: 7px 0 0 20px;
  margin-bottom: 40px;
}
.a-total-money h2 {
  border-bottom: 1px solid #fff;
}
.a-total-money p {
  font-size: 30px;
  margin-top: 10px;
}
.a-total-invest {
  height: 100px;
  background: #F0433D;
  color: #fff;
  font-size: 20px;
  padding: 7px 0 0 20px;
}
.a-total-invest h2 {
  border-bottom: 1px solid #fff;
}
.a-total-invest p {
  font-size: 30px;
  margin-top: 10px;
}
.a-total-cash {
  height: 100px;
  background: #f0ad4e;
  color: #fff;
  font-size: 20px;
  padding: 7px 0 0 20px;
}
.a-total-cash h2 {
  border-bottom: 1px solid #fff;
}
.a-total-cash p {
  font-size: 30px;
  margin-top: 10px;
}
.react-bootstrap-table-page-btns-ul.pagination {
  float: right;
}
.react-bs-table table tr {
  outline: none;
}
.react-bs-table table tr td {
  outline: none;
}
.a-tab-button span {
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid  #46b8da;
  user-select: none;
  color: #fff;
  background-color: #5bc0de;
  border-radius: 5px;
}
.w1180 {
  width: 1180px;
  margin: 0 auto;
}
.logo {
  background: url(images/logo_long.png) no-repeat;
  width: 375px;
  height: 52px;
  background-size: contain;
  display: block;
  margin-top: 15px;
}
.share-head-top {
  width: 1180px;
  margin: 0 auto;
  height: 50px;
}
.share-head-box {
  width: 100%;
  background: #f2f2f2;
  height: 30px;
  line-height: 30px;
}
.share-nav {
  height: 50px;
  width: 1180px;
  margin: 0 auto;
}
.share-nav ul li {
  width: 16%;
  text-align: center;
  line-height: 40px;
}
.share-nav ul li a {
  color: #555;
  font-size: 15px;
}
.share-nav ul li.active a {
  color: #23b7b7;
}
.share-top-left a {
  padding: 0 20px;
}
.share-top-right a {
  padding: 0 20px;
}
/**注册**/
.share-register-left {
  border-right: 1px solid #ccc;
}
.share-register-msg dl dt {
  font-size: 16px;
  line-height: 50px;
}
.share-register-msg dl dd {
  padding: 10px 0;
}
.share-register-button .btn {
  width: 300px;
  margin-left: 130px;
}
.share-register-go {
  width: 500px;
  margin: 20px auto;
}
/**热销车型**/
.share-hot-top {
  height: 40px;
  line-height: 40px;
}
.share-hot-title {
  font-size: 18px;
  font-weight: bold;
}
.share-hot-title span {
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  color: #999;
}
.share-hot-title span i {
  font-style: normal;
}
.share-hot-content {
  width: 100%;
  overflow: hidden;
  height: 400px;
  margin: 10px 0 20px 0;
}
.share-hot-content .share-hot-left {
  width: 440px;
}
.share-hot-content .share-hot-right {
  width: 730px;
}
.share-hot-list {
  width: 360px;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  padding: 10px 0  0 10px;
}
.share-hot-list .share-hot-head {
  height: 40px;
}
.share-hot-list .share-hot-head .share-icon-hot {
  background: url(images/iconmore.png) -536px 0;
  width: 44px;
  height: 44px;
  margin: -11px 0 0 -10px;
}
.share-hot-list .share-hot-head .share-hot-detail h4 {
  font-size: 20px;
  color: #333;
  top: 14px;
  line-height: 30px;
}
.share-hot-list .share-hot-head .share-hot-detail h6 {
  color: #666;
}
.share-hot-list .share-hot-head .share-hot-price {
  padding-right: 10px;
}
.share-hot-list .share-hot-head .share-hot-price span {
  color: #e8591d;
  font-size: 26px;
}
.share-hot-list .share-hot-car {
  height: 150px;
  right: -20px;
  bottom: 2px;
  background: transparent;
  padding: 0 20px 0 20px;
}
/**热门活动**/
.share-active-list {
  height: 281px;
  padding: 5px;
  overflow: hidden;
}
.share-active-list li {
  float: left;
  padding: 5px;
  border: 1px solid #e7e7e7;
  margin-right: 10px;
}
/**车辆列表*/
.share-car {
  width: 1180px;
  margin: 0 auto;
  padding: 20px 0;
}
.share-car .share-car-box {
  border: 2px solid #ccc;
  overflow: hidden;
  padding: 10px;
}
.share-car .share-car-box .share-car-ul li {
  padding: 0;
  width: 275px;
  height: 255px;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 7px;
  _margin: 6px;
  position: relative;
  cursor: pointer;
}
.share-car .share-car-box .share-car-ul li .share-car-img img {
  height: 170px;
  width: 250px;
}
.share-car .share-car-box .share-car-ul li .share-car-intro {
  margin-top: 23px;
  padding: 0 5px ;
  border-top: 1px solid #f7f1f1;
}
.share-car .share-car-box .share-car-ul li .share-car-intro:hover {
  background: #23b7b7;
  color: #fff;
  cursor: pointer;
}
.share-car .share-car-box .share-car-ul li .share-car-intro h5 {
  font-size: 16px;
  line-height: 30px;
}
.share-car .share-car-box .share-car-ul li .share-car-intro p {
  font-size: 12px;
  line-height: 30px;
  color: #7b7b7b;
}
/**店铺列表**/
.share-store {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px 20px;
}
.share-store .share-store-ul li {
  margin-bottom: 20px;
  width: 100%;
}
.share-store .share-store-ul li p {
  font-size: 18px;
  line-height: 40px;
}
.share-store .share-store-ul li .share-store-info {
  color: #7b7b7b;
  font-size: 14px;
}
.share-store .share-store-ul li .share-store-info .share-store-address {
  line-height: 30px ;
}
.share-store .share-store-ul li .share-store-info .share-store-address span {
  width: 16px;
  height: 16px;
  background: url(images/address.png) no-repeat;
  float: left;
  margin: 8px 6px 0 0;
}
.share-store .share-store-ul li .share-store-info .share-store-detail .share-store-phone {
  line-height: 30px;
  margin-right: 50px;
}
.share-store .share-store-ul li .share-store-info .share-store-detail .share-store-phone span {
  margin-right: 6px;
}
.share-store .share-store-ul li .share-store-info .share-store-detail .share-store-star {
  line-height: 30px;
}
.share-store .share-store-ul li .share-store-info .share-store-detail .share-store-star span {
  width: 16px;
  height: 16px;
  margin: 7px 5px 0 4px;
  background: url(images/star.png) no-repeat;
  float: right;
}
/**精彩活动**/
.share-active-0 {
  background: url(images/activeBanner.png) no-repeat center center;
  width: 100%;
  height: 713px;
}
.share-active-1 {
  background: url(images/active0.png) no-repeat center center;
  width: 100%;
  height: 1127px;
}
.share-active-2 {
  background: url(images/active1.png) no-repeat center center;
  width: 100%;
  height: 1066px;
}
/*订单详情**/
.share-detail {
  overflow: hidden;
}
.share-detail .share-date-style {
  width: 200px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  text-indent: 2px;
  padding: 0 2px;
}
.share-detail .share-detail-date {
  height: 40px ;
  line-height: 40px;
  margin: 10px 0 ;
}
.share-detail .share-detail-left {
  float: left;
  width: 75%;
}
.share-detail .share-detail-left .share-detail-order {
  width: 100%;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  padding: 13px;
}
.share-detail .share-detail-left .share-detail-tip {
  width: 100%;
  overflow: hidden;
  line-height: 25px;
  padding: 10px 13px;
  color: #EB5A01;
  background: #FFFCD2;
  border: 1px solid #c5c5c5;
  margin-top: 20px;
}
.share-detail .share-detail-left .share-detail-left-img {
  margin: 20px;
}
.share-detail .share-detail-left .share-detail-left-img p {
  text-align: center;
  font-size: 18px;
  color: red;
  line-height: 40px;
}
.share-detail .share-detail-left .share-detail-left-info {
  width: 60%;
  float: left;
  overflow: hidden;
}
.share-detail .share-detail-left .share-detail-left-info h5 {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.share-detail .share-detail-left .share-detail-left-info label {
  height: 30px;
  line-height: 30px;
}
.share-detail .share-detail-left .share-detail-left-info span {
  color: #666;
}
.share-detail .share-detail-left .share-detail-other {
  color: #666;
}
.share-detail .share-detail-left .share-detail-other p {
  height: 30px;
  line-height: 30px;
}
.share-detail .share-detail-right {
  float: right;
  width: 24%;
  border: 1px solid #c5c5c5;
}
.share-detail .share-detail-right h2 {
  height: 43px;
  border-bottom: 1px solid #ccc;
  color: #E65901;
  background: #EFEFEF;
  line-height: 42px;
  font-size: 16px;
  font-weight: bolder;
  text-indent: 1em;
}
.share-detail .share-detail-right .share-detail-base {
  border-bottom: 1px dashed #ccc;
  height: 45px;
  line-height: 25px;
  padding: 10px 13px;
}
.share-detail .share-detail-right .share-detail-total {
  height: 60px;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
}
.share-detail .share-detail-right .share-detail-button {
  width: 100%;
  height: 40px;
}
/**接送服务**/
.share-relay {
  background: url("images/guide-banner.jpg") no-repeat;
  width: 1600px;
  height: 500px;
  margin-bottom: 20px;
}
/**登陆**/
.share-login-box {
  margin-left: 15%;
}
.share-login-box .share-login-button {
  width: 100px;
  margin: 0 auto ;
}
/**尾部数据**/
.share-foot {
  width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
.share-foot .share-foot-img {
  margin-top: 20px;
  height: 80px;
  background: url("images/advantage_bg.png") no-repeat;
}
.share-foot .share-foot-img ul {
  padding-top: 60px;
}
.share-foot .share-foot-img ul li {
  float: left;
  width: 236px;
  text-align: center;
  font-size: 20px;
}
/**后台管理系统**/
.share-admin-head {
  width: 100%;
  height: 50px;
  background: #4A4A4A;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  padding: 0 20px;
}
.share-admin-box {
  width: 100%;
  height: 100%;
}
.share-admin-box .share-admin-menu {
  width: 13%;
  min-width: 150px;
  background: #32C2CD ;
  float: left;
}
.share-admin-box .share-admin-menu ul li {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid;
  line-height: 30px;
  padding: 10px 15px;
  color: #fff;
}
.share-admin-box .share-admin-menu ul li a {
  color: #fff;
}
.share-admin-box .share-admin-menu ul li.active {
  color: #3e1212;
}
.share-admin-box .share-admin-content {
  /*background: #E6E6E6;*/
  width: 85%;
  padding-top: 10px;
  margin: 0 1%;
  float: left;
}
.share-admin-box .share-admin-content .share-admin-title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #32C2CD;
}
.share-admin-head-right {
  font-size: 14px;
  cursor: pointer;
}
/**店铺车辆管理**/
.modal-table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #ccc;
  border-collapse: collapse;
  width: 80%;
  margin: 10px 10%;
}
.modal-table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
  background-color: #dedede;
  text-align: center;
}
.modal-table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
  background-color: #ffffff;
  text-align: center;
}
.lh40 {
  line-height: 40px;
}
/**车辆预订**/
.share-driving {
  width: 90%;
  height: 180px;
  margin: 20px;
}
.share-driving li {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.share-driving li .share-driving-img {
  width: 300px;
  height: 200px;
}
.share-driving li .share-driving-car {
  width: 500px;
  margin: 20px 0 0 20px;
}
.share-driving li .share-driving-car .share-driving-name h5 {
  font-size: 16px;
  color: #666;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}
.share-driving li .share-driving-price label {
  color: red;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.share-driving li .share-driving-price span {
  font-size: 12px;
  margin-left: 20px;
}
/**个人中心**/
.share-my .share-my-left {
  float: left;
  border: 1px solid #d2cdcd;
  min-height: 300px;
  width: 20%;
  height: 100%;
  overflow: hidden;
}
.share-my .share-my-left ul li {
  border-bottom: 1px solid #d2cdcd;
  background: #e7e7e7;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.share-my .share-my-left ul li.active {
  color: #23b7b7;
}
.share-my .share-my-right {
  float: right;
  min-height: 300px;
  width: 78%;
  border: 1px solid #d2cdcd;
}
.share-my .share-user {
  width: 600px;
  margin: 20px auto;
  overflow: hidden;
}
.share-my .share-user .form-group {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.share-my .share-user .share-user-button {
  margin: 20px auto;
  width: 212px;
}
.share-my .share-user .share-user-button button {
  width: 100px;
}
.share-order-list {
  width: 100%;
  padding: 5px;
  border-bottom: 1px dashed #c5c5c5;
  height: 130px;
}
.share-order-list .share-order-list-left {
  width: 200px;
}
.share-order-list .share-order-list-left img {
  width: 90%;
}
.share-order-list .share-order-list-right {
  width: 680px;
}
.share-order-ul {
  width: 100%;
  height: 50px;
}
.share-order-ul ul li {
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
  float: left;
}
.share-order-ul ul li.active {
  color: #fff;
  background: #32C2CD;
}
/*# sourceMappingURL=share.css.map */